.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70%;
    background: white /*rgba(51, 147, 221, 0.8) 50.83%*/;
    margin-bottom: 30px;
    position: fixed;
}

.nav-container a {
    color: black;
    text-decoration: none;
    font-size: 20px;
    padding: 10px;
}

.nav-container .navbar {
    width: auto;
    margin: auto;
}

.nav-container .navigation ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-container .navigation ul li {
    margin-right: 40px;
    text-decoration: none;
}



@media (max-width: 650px) {
    .nav-container .navbar .navigation{
      width: 10%;
    }
  }
  #Item1:hover{
    border-bottom: 5px solid #00BFFF;
}
#Item2:hover{
    border-bottom: 5px solid #00FFFF;
}
#Item3:hover{
    border-bottom: 5px solid #00BFFF;
}
#Item4:hover{
    border-bottom: 5px solid #007FFF;
}